<?xml version="1.0" encoding="UTF-8" ?>
<!-- Apache Commons Configuration -->
<configuration>
	<properties fileName="identity.test.properties"/>
	<properties fileName="registryLdap.properties"/>
	<properties fileName="ldapService.properties"/>
	<properties fileName="hazelcast.properties"/>
        <properties fileName="node.properties"/>
</configuration>